.similarityProblems {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: var(--color-gray-500);
  border-radius: 12px;

  @include tablet {
    width: 480px;
    max-width: 480px;
    flex-shrink: 0;
  }

  @include desktop {
    width: 504px;
    max-width: 504px;
    flex-shrink: 0;
  }
}

.fadeIn {
  animation: similarityFadeIn 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 16px;
}

@keyframes similarityFadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
