.problemList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  overflow-y: auto;
  min-height: 0;

  counter-reset: problem-index;
}

.problemItem {
  counter-increment: problem-index;
  display: flex;
}
