.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 14px 0px;
  box-sizing: border-box;
  background-color: var(--color-gray-200);

  @include tablet {
    padding: 14px 20px;
  }
}

.container {
  display: flex;
  width: 100%;
  max-width: 1240px;
  height: 100%;
  gap: 16px;
}

.spinnerContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
